.cart-container{
    margin-top: 16rem;
    text-align: center;
}

@media (min-width: 480px) {
    .cart-container{
        margin-top: 7rem;
    }
}

@media (min-width: 768px) {
    .cart-container{
        margin-top: 4rem;
    }
}

.cart {
    padding: 1rem;
}

.no-products-cart {
    padding-top: 4rem;
}