.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

@media (min-width:768px) {
    .products {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
