.navBar{
    background-color: var(--color-primario);
    font-size: 2rem;
    position: fixed;
    width: 100%;
    margin-top: -16rem;
}

@media (min-width: 480px) {
    .navBar{
        margin-top: -7rem;
    }
}

@media (min-width: 768px) {
    .navBar{
        margin-top: -4rem;
    }
}

.contenedor {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-right: 1rem;
}

@media (min-width: 480px) {
    .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


.logo{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-left: 1rem;
}

.logo-color{
    color: var(--color-secundario);
}

.list{
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.list-item {
    margin: .1rem;
}

@media (min-width: 480px) {
    .list{
        flex-flow: row nowrap;
        font-size: 1rem;
    }

    .list-item{
        display: inline-block;
        margin-left: 1rem;
    }
}

@media (min-width: 780px) {
    .list{
        font-size: 1.8rem;
    }
}

.list-ref-activo {
    color: var(--color-blanco);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: solid 2px var(--color-secundario);
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: 5rem;
    padding: 0 1rem;
}

.list-ref {
    color: var(--color-blanco);
    font-family: var(--fuente-principal);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 0 1rem;
}

.list-ref:hover{
    color: var(--color-blanco);
}

@media (min-width: 480px) {
    .navBar {
        flex-direction: row;
    }
}